<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="../Assets/imagenes/icono.jpg" type="image/x-icon">
    <link rel="stylesheet" href="../estilos.css">

    <title>Contacto</title>
</head>
<body class="body__formulario">
    <header>
      
        <nav>
            <ul class="MenuSuperior">
                <li><a href="../index.html">Home</a></li>
                <li><a href="Albums.html">Albums</a></li>
                <li><a href="Sobre Drake.html">Sobre Drake</a></li>
                <li><a href="Tours.html">Tours</a></li>
            </ul>
        </nav>
    </header>
    
    <main>
        <form action="" class="formulario">
            <fieldset>
            <legend>Formulario</legend>
            <label for="Nombre">Nombre</label>
            <input type="text"/>
            <label for="Apellido">Apellido</label>
            <input type="text"/>
            <label for="Edad">Edad</label>
            <input type="number" value="Edad"/>
            <label for="Sexo">Sexo</label>
            <select name="Sexo" >
                <option value="M">Masculino</option>
                <option value="F">Femenino</option>
                <option value="X">X</option>
            </select>
            <br>
            <br>
            
            <label for="">Correo Electronico</label>
            <input type="email" name="correo" id="correo" placeholder="Ingresa tu mail" required>
            
            <br>
            <br>

            <label for="comentario">Comentario</label>
            <br>
            <br>
            <textarea name="" id="" cols="40" rows="10" maxlength="10"> 
            
            </textarea>




            <input type="submit" value="Envía el formulario">
            <input type="reset" value="Limpiar formulario" >
            



        </fieldset>
        </form>
    </main>
        <!-- inicio de footer --> 
        <footer id="abajo" class="footer">
            <p><a href="#arriba">Ir a arriba</a></p>
        <div class="footer__flex">
            <div>
                <h4>Nuestro Sitio</h4>
                <ul class="footer__titulo">
                    <p><a href="../index.html">Home</a></p>
                    <p><a href="./Albums.html">Albums</a></p>                               
                    <p><a href="./Tours.html">Tours</a></p>
                    <p><a href="./Sobre Drake.html Drake.html">Sobre Drake</a></p>

            </div>
            <div>
                <h4>Redes</h4>
                <ul class="footer__titulo">
                    <p> <a href="https://www.instagram.com/champagnepapi/">Instagram</a></p>
                    <p> <a href="https://twitter.com/Drake?ref_src=twsrc%5Egoogle%7Ctwcamp%5Eserp%7Ctwgr%5Eauthor">Twitter</a></p>
                    <p> <a href="https://www.youtube.com/channel/UCByOQJjav0CUDwxCk-jVNRQ"> Youtube </a></p>
                    <p><a href="#arriba" class="enlace">Ir a arriba</a></p>
                    <div class="footer__creditos">
                        Desarrollado por Delfina Lausero
                </div>
     </body>
</body>
</html>